<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Employee</title>
</head>
<body>

<span value="${mensaje}"></span>
<form th:action="@{/employee/newEmployee}" method="POST">
<input type="submit" name="newEmployee" value="New employee" class="login100-form-btn"/>
</form>
<table>
<thead>
	<tr>
		<th>Fist Name</th>
		<th>Last Name</th>
		<th>email</th>
		<th>Phone Number</th>
		<th>Title</th>
		<th>Department</th>
	</tr>
</thead>
<tbody th:each="employee : ${employeeList}">
<tr>
	<td th:text="${employee.firstName}"></td>
	<td th:text="${employee.lastName}"></td>
	<td th:text="${employee.email}"></td>
	<td th:text="${employee.phone}"></td>
	<td th:text="${employee.title}"></td>
	<td th:text="${employee.dept}"></td>
</tr>
</tbody>
</table>

</body>
</html>