<h1>Curso {{cursos[0].nombre}}</h1>
<div>
	<strong> Docente: </strong>
	{{cursos[0].docente.nombre}} {{cursos[0].docente.apellidos}}
</div>
<div>
	<strong> Costo: </strong>
	{{cursos[0].precio}}
</div>
<div>
	<strong> Horas Totales: </strong>
	{{cursos[0].duracion_horas}}
</div>

<div>
	<strong> Estudiantes Matriculados: </strong>
	<table border="1">
		<tr>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Intercambio</th>
		</tr>
		<tr *ngFor="let estudiante of cursos[0].estudiantes;" >
			<td>{{estudiante.nombre}}</td>
			<td>{{estudiante.apellidos}}</td>
			<td *ngIf="estudiante.intercambio == true">Sí</td>
			<td *ngIf="estudiante.intercambio == false">No</td>
		</tr>
	</table>
</div>
<hr>
<div>
	<strong> Cambiar costo: </strong>
	<input type="text" [(ngModel)] = "cursos[0].precio">

	<h3>Matricular Estudiante</h3>

	<strong> Nombre: </strong>
	<input type="text" [(ngModel)] = "estudianteMatricula.nombre">


	<strong> Apellidos: </strong>
	<input type="text" [(ngModel)] = "estudianteMatricula.apellidos">
	&nbsp;
	<button (click)="matricularEstudiante()">Matricular</button>
</div>
<hr>
<div>
	<h1>Listado de cursos</h1>
	<table border="1">
		<tr>
			<th>Nombre</th>
			<th>Costo</th>
			<th>Duracion</th>
		</tr>
		<tr *ngFor="let curso of cursosServicio" >
			<td>{{curso.nombre}}</td>
			<td>{{curso.precio}}</td>
			<td>{{curso.duracion_horas}}</td>
		</tr>
	</table>
</div>

<hr>

<div *ngIf="cursoBusqueda">
	<h3>Buscar curso</h3>
	<input type="text" [(ngModel)] = "idBuscar" placeholder="Buscar por Id">
	<button (click)="buscarCurso()">Buscar</button>

	<table border="1">
		<tr>
			<th>Nombre</th>
			<th>Costo</th>
			<th>Duracion</th>
		</tr>
		<tr>
			<td>{{cursoBusqueda.nombre}}</td>
			<td>{{cursoBusqueda.precio}}</td>
			<td>{{cursoBusqueda.duracion_horas}}</td>
		</tr>
	</table>
</div>